In [37]:
import pandas as pd

In [38]:
df = pd.read_csv('sample_data/adult.data.csv')

In [39]:
df.head()

   age         workclass  fnlwgt  ... hours-per-week  native-country salary
0   39         State-gov   77516  ...             40   United-States  <=50K
1   50  Self-emp-not-inc   83311  ...             13   United-States  <=50K
2   38           Private  215646  ...             40   United-States  <=50K
3   53           Private  234721  ...             40   United-States  <=50K
4   28           Private  338409  ...             40            Cuba  <=50K

[5 rows x 15 columns]

In [40]:
# What is the average age of men?
menFilter = df['sex'] == 'Male'
average_age_men = df.loc[menFilter,'age'].mean()
print(average_age_men)

39.43354749885268

In [41]:
# What is the percentage of people who have a Bachelor's degree?

percentage_bachelors = (df['education'].value_counts(normalize=True)['Bachelors']) * 100
print(percentage_bachelors)

16.44605509658794

In [42]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
# What percentage of people without advanced education make more than 50K?
# with and without `Bachelors`, `Masters`, or `Doctorate`

higherEducationFilter = df['education'].isin(["Bachelors", "Masters", "Doctorate"])

higher_education = df.loc[higherEducationFilter]
lower_education = df.loc[~higherEducationFilter]

# percentage with salary >50K
higher_education_rich = higher_education['salary'].value_counts(normalize=True)['>50K'] * 100

lower_education_rich = lower_education['salary'].value_counts(normalize=True)['>50K'] * 100

In [43]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df['hours-per-week'].min()

# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
minWorkFilter = df['hours-per-week'] == df['hours-per-week'].min()

rich_percentage = df.loc[minWorkFilter]['salary'].value_counts(normalize = True)['>50K'] * 100

In [44]:
# What country has the highest percentage of people that earn >50K?
mask = df.salary == ">50K"
df.loc[mask,'native-country'].value_counts().head(3) # Top 3 count of people getting >50K by country

United-States    7171
?                 146
Philippines        61
Name: native-country, dtype: int64

In [45]:
df.loc[:,'native-country'].value_counts().head(3) # Top 3 count of all people by country

United-States    29170
Mexico             643
?                  583
Name: native-country, dtype: int64

In [46]:
# Getting percentage of getting >50K i.e  count( >50k) / count(everyOne)

# Here division will hapeen by above condition, index aligmnet will by happned automartically
result = (df.loc[mask,'native-country'].value_counts()/df.loc[:,'native-country'].value_counts())
result.head(5)

?           0.250429
Cambodia    0.368421
Canada      0.322314
China       0.266667
Columbia    0.033898
Name: native-country, dtype: float64

In [47]:
# THe above output is sorted by index, but we need to sort by value to get the top 
result.sort_values(ascending = False).head(3) # returns Top 3

Iran      0.418605
France    0.413793
India     0.400000
Name: native-country, dtype: float64

In [48]:
# Lets get the top country now!

country_name = result.sort_values(ascending = False).index[0]
print(country_name)

Iran

In [49]:
# getting the value by passing the country name(Index Label) to the Result Series calculated few steps back
highest_earning_country_percentage = round(result.loc[country_name] * 100,1)
highest_earning_country_percentage

41.9

In [50]:
# Identify the most popular occupation for those who earn >50K in India.
indianAnd50KSal = peopleWith50KSalaryFilter & (df['native-country'] == 'India')
df.loc[indianAnd50KSal,'occupation'].value_counts().index[0]

'Prof-specialty'