Assignment
Create a function named calculate() in mean_var_std.py that uses Numpy to output the mean, variance, standard deviation, max, min, and sum of the rows, columns, and elements in a 3 x 3 matrix.

The input of the function should be a list containing 9 digits. The function should convert the list into a 3 x 3 Numpy array, and then return a dictionary containing the mean, variance, standard deviation, max, min, and sum along both axes and for the flattened matrix.

The returned dictionary should follow this format:




```
{
  'mean': [axis1, axis2, flattened],
  'variance': [axis1, axis2, flattened],
  'standard deviation': [axis1, axis2, flattened],
  'max': [axis1, axis2, flattened],
  'min': [axis1, axis2, flattened],
  'sum': [axis1, axis2, flattened]
}
```



If a list containing less than 9 elements is passed into the function, it should raise a ValueError exception with the message: "List must contain nine numbers." The values in the returned dictionary should be lists and not Numpy arrays.

In [1]:
import numpy as np

In [2]:

def calculate(list):
  if(len(list) !=9):
    raise ValueError('List must contain nine numbers.')

  npArr = np.array(list).reshape(3,3)

  return {
    'mean' : [npArr.mean(axis=0).tolist(),npArr.mean(axis=1).tolist(),npArr.ravel().mean()],
    'varience' : [npArr.var(axis=0).tolist(),npArr.var(axis=1).tolist(),npArr.ravel().var()],
    'standard deviation' : [npArr.std(axis=0).tolist(),npArr.std(axis=1).tolist(),npArr.ravel().std()],
    'max' : [npArr.max(axis=0).tolist(),npArr.max(axis=1).tolist(),npArr.ravel().max()],
    'min' : [npArr.min(axis=0).tolist(),npArr.min(axis=1).tolist(),npArr.ravel().min()],
    'sum' : [npArr.sum(axis=0).tolist(),npArr.sum(axis=1).tolist(),npArr.ravel().sum()]
}

In [4]:
list = [1,2,3,4,5,6,7,8,9]

calculate(list)

{'max': [[7, 8, 9], [3, 6, 9], 9],
 'mean': [[4.0, 5.0, 6.0], [2.0, 5.0, 8.0], 5.0],
 'min': [[1, 2, 3], [1, 4, 7], 1],
 'standard deviation': [[2.449489742783178,
   2.449489742783178,
   2.449489742783178],
  [0.816496580927726, 0.816496580927726, 0.816496580927726],
  2.581988897471611],
 'sum': [[12, 15, 18], [6, 15, 24], 45],
 'varience': [[6.0, 6.0, 6.0],
  [0.6666666666666666, 0.6666666666666666, 0.6666666666666666],
  6.666666666666667]}